@font-face {
  font-family: 'beachdayFont';
  src: url('fonts/beachday/beachday.ttf') format('truetype');
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffe6eb;
  font-family: 'beachdayFont';
  text-align: center;
}

/* Gift */
.gift-box {
  font-size: 80px;
  animation: wiggle 1.2s ease-in-out infinite;
  transform-origin: center bottom;
  cursor: pointer;
}

.gift-box:hover {
  animation: shake 0.4s ease-in-out infinite;
  transform: scale(1.05);
}

@keyframes wiggle {
  0%   { transform: rotate(0deg) scale(1); }
  25%  { transform: rotate(6deg) scale(1.02); }
  50%  { transform: rotate(0deg) scale(1); }
  75%  { transform: rotate(-6deg) scale(1.02); }
  100% { transform: rotate(0deg) scale(1); }
}

@keyframes shake {
  0%   { transform: rotate(0deg) scale(1.05); }
  25%  { transform: rotate(12deg) scale(1.07); }
  50%  { transform: rotate(0deg) scale(1.05); }
  75%  { transform: rotate(-12deg) scale(1.07); }
  100% { transform: rotate(0deg) scale(1.05); }
}

/* Card base */
.card {
  position: absolute;
  width: 450px;
  padding: 20px;
 background-image: url("cardbg.png");
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
  transition: box-shadow 0.3s;
  transform: scale(0); /* start invisible */
  color: #94516b;
}

/* POP animation */
.card.show {
  animation: popUp 0.6s ease forwards, sway 3s ease-in-out infinite 0.6s;
  box-shadow: 0 20px 50px rgba(0,0,0,0.25);
}

@keyframes popUp {
  0% {
    transform: scale(0) rotate(0deg);
  }
  60% {
    transform: scale(1.15) rotate(1deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes sway {
  0%   { transform: rotate(0deg); }
  50%  { transform: rotate(1deg); }
  100% { transform: rotate(0deg); }
}

.hidden {
  display: none;
}

img {
    height: 200px;
  border-radius: 15px;
  margin-top: 15px;
}

.hearts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* so it doesn't block clicks */
  overflow: hidden;
}

.heart {
  position: absolute;
  bottom: -50px;
  font-size: 20px;
  animation: floatUp linear infinite;
  opacity: 0.4;
  filter: blur(1px);
}

@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  20% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(-110vh) scale(1.2);
    opacity: 0;
  }
}